.homebox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 96px 256px;
    color: #495057;
    /* border: 2px solid; */
  }
  .propic {
    margin-right: 20px;
  }
  .propic img {
    width: 400px;
    height: auto;
    border-radius: 20%;  /* 50% = For round */
  }
  .shortbio {
    max-width: 800px;
    margin-left: 32px;
  }
  .shortbio h3 {
    font-size: 24px;
    margin: 0;
  }
  .shortbio p {
    font-size: 16px;
    line-height: 1.5;
  }