/* ------  Stlying for all the pages ------ */
.nav-links li a.active {
    font-weight: 500;
}
.mainbox {
    margin: 96px 256px;
    border: 2px solid #fed9b7;
}

/* ------  Stlying for Under Construction ------ */
.ongoing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 96px 256px;
    /* border: 2px solid; */
}
.ongoing p {
    font-size: 16px;
}

/* ------  Stlying for research.html ------ */

.researchbox {
    margin: 0px 64px 32px 64px;
    padding: 32px;
    border: 1px solid;
    border-radius: 32px;
}
.researchbox h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
.researchbox ul {
    font-size: 16px;
    line-height: 1.5;
}

/* ------  Stlying for papers.html ------ */
.paperbox1 {
    margin: 0px 64px;
    border: 1px solid;
    padding: 16px 32px;
}

.paperbox2 {
    margin: 32px 64px;
    border: 1px solid;
    padding: 16px 32px;
}



/* ------  Stlying for cvitae.html ------ */

/* ------  Stlying for group.html ------ */

/* ------  Stlying for teaching.html ------ */ 

/* ------  Stlying for news.html ------ */
